# External storage and NAS profile.
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_mdadm=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_ksmbd-server=y
CONFIG_PACKAGE_luci-app-ksmbd=y
